*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: normal;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
}

ul li{
    list-style: none;
}
img{
    border: none;
}

a{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
}

.top{
    width: 100%;
    height: 40px;
    background: #333333;
}
.top .topMenu{
    width: 1230px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.top .topMenu .topMenuL{
    float: left;
    height: 40px;
}

.top .topMenu .topMenuL a,.topMenuR a,.top .topMenuG a{
    color: #b0b0b0;
    cursor: pointer;
}

.top .topMenu .topMenuL span,.topMenuR span{
    color: #3b4040;
    margin: 0 7px;
}

.top .topMenu .topMenuL a:hover,.topMenuR a:hover{
    color: white;
}

.top .topMenu .topMenuR{
    float: right;
    height: 40px;
    line-height: 40px;
}

.top .topMenuG{
    float: right;
    margin-left: 15px;
    height: 40px;
    position: relative;

}
.top .topMenuG a{
    height: 40px;
    line-height: 40px;
    width: 120px;
    text-align: center;
    display: block;
    background: url("../img/gouwuche.png") no-repeat 15px 0 #424242 ;
    position: relative;

}

.top .topMenuG a i{
    margin: 0 5px 0 20px;

}
.top .topMenuG a span{
    font-size: 12px;
    margin:0 3px;
}

.top .topMenuG a:hover{
    background: url("../img/wuche.png") no-repeat 15px 12px white;
    color: #ff6603;

}

.top .topMenuG .topMenuDis{
    position: absolute;
    top: 40px;
    right: 0;
    width: 320px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    box-shadow: 3px 3px 5px 0 #CCCCCC;
    display: none;
    background: white;
    z-index: 1;
}

/*顶部菜单栏*/
.menu{
    width: 1230px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}
.menu .logo{
    float: left;
    margin: 22px 14px 0 0;
    width: 234px;
    height: 56px;
    background: url("../img/logo.png") no-repeat 0 0 ;
}
.menu .menu-nav{
    float: left;
    height: 100px;
    width: 680px;

}
.menu .menu-nav .menuList{
    float: left;
    height: 100px;
}
.menu .menu-nav .menuList li{
    float: left;
    height: 100px;
    line-height: 100px;
}
.menu .menu-nav .menuList li .menuA{
    padding: 0 18px 0 18px;
    height: 100px;
    float: left;
    display: block;
    color: #333333;

}
.menu .menu-nav .menuList li .menuA span{
    font-size: 16px;
}
.menu .menu-nav .menuList li .menuA:hover{
    color: #ff6603;
}
.menu .menu-nav .menuList li .inner{
    z-index: 11;
    width: 1363px;
    height: 234px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    background: white;
    position: absolute;
    top: 100px;
    left: -67px;
    display: none;
}
.menu .menu-nav .menuList li .inner a{
    display: inline-block;
    border-right: 1px solid #c6c6c6;
    position: relative;
    float: left;
    width: 200px;
    height: 108px;
    top: 40px;
    left: 67px;
    text-align: center;
}
.menu .menu-nav .menuList li .inner .noBorder{
    border: none;
}
/*文本框*/
.menu .menu-search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    position: relative;
}

.menu .menu-search .searchText{
    position: absolute;
    width: 224px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;

}

/*隐藏菜单 */
.menu .menu-search .textList{
    width: 243px;
    height: 300px;
    position: absolute;
    top: 49px;
    border: 1px solid #ff6603;
    display: none;
    background: white;
    z-index: 11;
}
.menu .menu-search .textList li{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;

}
.menu .menu-search .textList li a{
    color: #000000;

}

.menu .menu-search .textList li span{
    float: right;
    color: #CCCCCC;
}

.menu .menu-search .inputWords{
    position: absolute;
    right: 72px;
    top: 16px;
}
.menu .menu-search .inputWords a{
    background: #eee;
    padding: 0 5px;
    margin-left: 5px;
    color: #616161;
}
.menu .menu-search .inputWords a:hover {
    background:#ff6603;
    color: white;
}
.menu .menu-search .searchBtn{
    position: absolute;
    width: 52px;
    height: 50px;
    right: 0;
    top: 0;
    border: 1px solid #dcdcdc;
    background: url("../img/search1.png") no-repeat center center white;
}


/*轮播图模块 nva*/
.nva{
    width: 1230px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}
.nva .nvaImg{
    overflow: hidden;
}
.nva .inner{
    height: 460px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    top: 0;
    left: 0;
}
.nva .inner div{
    display: block;
    width: 1230px;
    height: 460px;
    float: left;
}
.nva .inner div img{
    width: 100%;
    height: 100%;
}
.nva .tip{
    width: 75px;
    height: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.nva .tip li{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 7px;
    background: #101531;
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
}
.nva .tip li.select{
    background: #d5d7dd;
}
.nva .left,.nva .right{
    position: absolute;
    top: 200px;
    width: 40px;
    height: 70px;
    background: url("../img/icon-slides.png") no-repeat 0 0;
}
.nva .left{
    left: 236px;
    background-position: -84px  0;
}
.nva .right{
    right: 0;
    background-position: -124px  0;
}
.nva a.left:hover{
    background: url("../img/icon-slides.png") no-repeat 0 0;
}
.nva a.right:hover{
    background: url("../img/icon-slides.png") no-repeat -42px 0;
}


/*banner上 页卡*/
.nva .bannerM{
    width: 236px;
    height: 420px;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.nva .oUl{
    position: absolute;
    padding: 20px 0;
    top: 0;
    left: 0;
}

.nva .oUl li{
    position: relative;
    height: 42px;
    line-height: 42px;
    padding:0 30px;
}
.nva  .oUl li a{
    display: block;
    width: 176px;
    height: 42px;
    line-height: 42px;
    color: white;
    background: url("../img/icon.png")no-repeat center right ;

}
.nva  .oUl li.change{
    background:#ff6603 ;
}
.nva  li .box {
    display: none;
    position: absolute;
    left: 236px;
    top: -20px;
    z-index: 11;
    width: 540px;
    height: 460px;
    background: white;
}

/* 轮播图下侧图片*/
.home-hero-sub {
    margin: 14px auto;
    width: 1230px;
    height: 170px;
    overflow: hidden;
    clear: both;
}

.home-hero-sub .row div {
    float: left;
}

.home-hero-sub .subFirst {
    display: inline-block;
    width: 230px;
    height: 164px;
    padding: 3px;
    background: #5f5750;
    float: left;

}

.home-hero-sub .subFirst ul li {
    width: 70px;
    height: 80px;
    float: left;
    border-right: 1px solid #665e57;
    border-bottom: 1px solid #665e57;
    padding: 0 3px;
    text-align: center;
    cursor: pointer;
}

.home-hero-sub .subFirst ul li i {
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    background: #FFFFFF;
}

.home-hero-sub .subFirst ul li a {
    display: inline-block;
    color: #cdcac8;
    text-decoration: none;
    font-size: 12px;
    width: 70px;
    height: 60px;
    padding-top: 18px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

.home-hero-sub .subFirst ul li a:hover {
    color: #FFFFFF;
}

.home-hero-sub .subFirst ul li.subFirstThree, .home-hero-sub .subFirst ul li.subFirstSix {
    border-right: none;
}

.subFirst ul li.subFirstFour, .subFirst ul li.subFirstFive, .subFirst ul li.subFirstSix {
    border-bottom: none;
}

.home-hero-sub .subList li {
    float: left;
    margin-left: 14px;
    list-style: none;
    cursor: pointer;
}

.home-hero-sub .subList li:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3)
-webkit-transition : -webkit-box-shadow 0.2 s linear;
    transition: box-shadow 0.2s linear
}

.home-hero-sub .subList li img {
    width: 316px;
    height: 170px;
}

/*小米明星产品*/
.plain-box {
    width: 1226px;
    margin: 0 auto 40px;
}

.plain-box .box-hd {
    position: relative;
    height: 58px;
    line-height: 58px;
    padding: 10px 0;
}

.plain-box .box-hd h2 {
    display: inline-block;

}

.plain-box .box-hd .more {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 0;
    width: 70px;
    height: 25px;
    background: orchid;
}

.plain-box .box-hd .more .moreLeft {
    width: 33px;
    height: 23px;
    position: absolute;
    left: 0;
    border: 1px solid #d3d3d3;
}

.plain-box .box-hd .more .moreRight {
    width: 33px;
    height: 23px;
    position: absolute;
    right: 0;
    border: 1px solid #d3d3d3;
    border-left: none;
}

.plain-box .box-banner {
    width: 100%;
    height: 340px;
    overflow: hidden;
}

.plain-box .box-banner .box-bd {
    width: 2340px;

}

.plain-box .box-banner .box-bd li {
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top: 1px solid;
    float: left;
    margin-right: 14px;
    text-align: center;
    background: #fafafa;
    -webkit-transition: all 0.6s;
    transition: all 0.6s

}

.plain-box .box-banner .box-bd li .thumb {
    display: block;
    width: 160px;
    margin: 0 auto 22px;
    color: #212121;
    text-decoration: none;
}

.plain-box .box-banner .box-bd .box-bd-1 {
    border-top-color: #ffac13;
}

.plain-box .box-banner .box-bd .box-bd-2 {
    border-top-color: #83c44e;
}

.plain-box .box-banner .box-bd .box-bd-3 {
    border-top-color: #2196f3;
}

.plain-box .box-banner .box-bd .box-bd-4 {
    border-top-color: #e53935;
}

.plain-box .box-banner .box-bd .box-bd-5 {
    border-top-color: #00c0a5;
    margin-right: 0;
}

.plain-box .box-banner .box-bd .box-bd-6 {
    border-top-color: #ffac13;
}

.plain-box .box-banner .box-bd .box-bd-7 {
    border-top-color: #83c44e;
}

.plain-box .box-banner .box-bd .box-bd-8 {
    border-top-color: #2196f3;
}

.plain-box .box-banner .box-bd .box-bd-9 {
    border-top-color: #e53935;
}

.plain-box .box-banner .box-bd .box-bd-10 {
    border-top-color: #00c0a5;
    margin-right: 0;
}

.plain-box .box-banner .box-bd li a {
    text-decoration: none;
}

.plain-box .box-banner .box-bd li .title a {
    color: #212121;
}

.plain-box .box-banner .box-bd li .thumb img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.plain-box .box-banner .box-bd li .title {
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

}

.plain-box .box-banner .box-bd li .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}

.plain-box .box-banner .box-bd li .price {
    color: #ff6700;
    font-size: 14px;
}
